---
import UnderlineHeader from './reusable/UnderlineHeader.astro';
import YoutubeVideo from './reusable/YoutubeVideo.astro';
import BookAnAppotiment from './reusable/BookAnAppotiment.astro';
import ahmLogo from '/public/logo/ahm.png';
import medibankLogo from '/public/logo/medibank.png.webp';
import asrLogo from '/public/logo/asr-logo.png';
import { Image } from 'astro:assets';

const images = [
    ahmLogo,
    medibankLogo,
    asrLogo,
]
---
<section class="credentials container">
    <UnderlineHeader text="Chiropractic credentials and accreditations" />
    <div class="credentials-container">
        {images.map((image) => (
            <div class="credentials-item">
                <Image src={image} alt="Chiropractic Credentials" loading="eager" />
            </div>
        ))}
    </div>
    <UnderlineHeader text="Better Results, Faster." />
    <YoutubeVideo videoId="GrDl-8HyGBY"/>
    <BookAnAppotiment />
</section>
<style>
    .credentials-container{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    .credentials-item{
        width: 100%;
        min-height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>