---
import UnderlineHeader from './reusable/UnderlineHeader.astro';
import YoutubeVideo from './reusable/YoutubeVideo.astro';
import BookAnAppotiment from './reusable/BookAnAppotiment.astro';

const images = [
    "/ahm.png",
    "/medibank.png.webp",
    "/asr-logo.png",
]
---
<section class="credentials container">
    <UnderlineHeader text="Chiropractic credentials and accreditations" />
    <div class="credentials-container">
        {images.map((image) => (
            <div class="credentials-item">
                <img src={image} />
            </div>
        ))}
    </div>
    <UnderlineHeader text="Better Results, Faster." />
    <YoutubeVideo videoId="GrDl-8HyGBY"/>
    <BookAnAppotiment />
</section>
<style>
    .credentials-container{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    .credentials-item{
        width: 100%;
        min-height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>