---
import PrimaryButton from './reusable/PrimaryButton.astro';
---
<footer>
    <div class="footer-container">
        <div class="logo-circle">
        </div>
        <p style="color: white; font-size: 1.2rem; font-weight: 600; width: 30%; text-align: center;    ">Get in touch with us and find out why
            so many patients stay with us for years
            (and even decades!)</p>
            <PrimaryButton text="Call us to book an appointment" href="tel:0280597743" />
    </div>
</footer>
<style>
    .footer-container{
        background-image: url('/footer_bg.png');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:5rem;
        height: 60vh;
    }
</style>